<!doctype html>
<html lang="en">

<%- include('../partials/header'); %>

<body class="no-mobile-barrier ido-detail">
    <%- include('../partials/navigation'); %>
    <main class="main-container">
        <section class="body-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10">
                        <div class="landing-img">
                           
                            <img class="project-banner-img-value" src="img/snacks-header.png" alt="IDO Banner">

                        </div>
                        <div class="copy-wrap">
                            <h1 class="project-name-value">DogeSnacks<a href="https://twitter.com/intent/tweet?text=Checkout the %23dogesnacks IDO listed on %23dogesnacks 🚀🚀🚀 %20%0Ahttps://dogesnacks.org/ido-dogesnacks-0"
                                    class="social-share twitter-share" target="_blank"></a></h1>
                        </div>
                        <p class="copy-txt about-project-value">
                            $SNACKS is the community token for the DogeSnacks IDO Protocol, a decentralised crowdfunding transaction protocol, with an innovative deflationary mechanism that includes a redistribution and burning system that rewards all its holders.</p>

                        <div class="ido-social-wrap">

                            <a class="doge-btn website-url-value" href="https://dogesnacks.org" target="_blank">
                                Website</a>


                            <a class="doge-btn twitter-url-value" href="https://twitter.com/dogesnacks" target="_blank">
                                Twitter</a>


                            <a class="doge-btn telegram-url-value" href="https://t.me/dogesnacks" target="_blank">
                                Telegram</a>



                            <a class="doge-btn discord-url-value" href="https://discord.gg/g9ERyts3Rb" target="_blank">
                                Discord</a>

                            <a class="doge-btn whitepaper-url-value" href="https://dogesnacks.org/Litepaper.pdf" target="_blank">
                                Tokenomics</a>


                        </div>

                        <div class="tokeninfo-wrap">
                            <div class="row">
                                <div class="col-12">
                                    <p class="token-table-header">
                                        Token Info
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p class="table-label">Token Name</p>
                                </div>
                                <div class="col-8">
                                    <p class="project-name-value">$SNACKS</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-4">
                                    <p class="table-label">ERC-Token Address</p>
                                </div>
                                <div class="col-8">
                                    <p class="project-token-address-value">
                                        <a href="https://etherscan.io/address/0xd841E8DdC85af2917BcAe1CAba316f9C49059751" target="_blank">0xd841E8DdC85af2917BcAe1CAba316f9C49059751</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tokeninfo-wrap">
                            <div class="row">
                                <div class="col-12">
                                    <p class="token-table-header">
                                        When IDO
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p class="table-label">Countdown To IDO</p>
                                </div>
                                <div class="col-8">
                                    <p class="launch-time-left"><span class="c-days"></span><span
                                            class="c-hours"></span><span class="c-mins"></span><span
                                            class="c-secs"></span><span class="c-end"></span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p class="table-label">IDO Opens At</p>
                                </div>
                                <div class="col-8">
                                    <p class="ido-open-date-value">April 20 2022 @ 18:00</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p class="table-label">IDO Closes At</p>
                                </div>
                                <div class="col-8">
                                    <p class="ido-close-date-value">April 30 2022 @ 18:00</p>
                                </div>
                            </div>
                        </div>

                        <div class="tokeninfo-wrap">
                            <div class="row">
                                <div class="col-12">
                                    <p class="token-table-header">
                                        IDO Listing
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p class="table-label">Token IDO Price</p>
                                </div>
                                <div class="col-8">
                                    <p class="ido-token-price-value">0.000001754386 ETH = 1 Token</p>
                                </div>
                            </div>
                            <!--<div class="row">
                                <div class="col-4">
                                    <p class="table-label">Total IDO Tokens</p>
                                </div>
                                <div class="col-8">
                                    <p class="total-ido-token-value"></p>
                                </div>
                            </div>-->
                            <div class="row">
                                <div class="col-4">
                                    <p class="table-label">IDO Hard Cap</p>
                                </div>
                                <div class="col-8">
                                    <p class="ido-hard-cap-value">420 ETH</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p class="table-label">IDO soft Cap</p>
                                </div>
                                <div class="col-8">
                                    <p class="ido-soft-cap-value">80 ETH</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p class="table-label">Maximum Investment Per Wallet</p>
                                </div>
                                <div class="col-8">
                                    <p class="max-inv-per-value">3 ETH</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p class="table-label">Minimum Investment Per Wallet</p>
                                </div>
                                <div class="col-8">
                                    <p class="min-inv-per-value">0.1 ETH</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p class="table-label">Unsold Tokens To</p>
                                </div>
                                <div class="col-8">
                                    <p class="unsold-token-address-value">0x607874CFA8fc66f775D34859732a97a99b017dE4</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p class="table-label">IDO Presale Address</p>
                                </div>
                                <div class="col-8">
                                    <p class="presale-address-value">
                                        <a href="https://etherscan.io/address/0xe7Ba6D1Fbbdc1385fF24B21F48579100a2B2606f" target="_blank">0xe7Ba6D1Fbbdc1385fF24B21F48579100a2B2606f</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tokeninfo-wrap">
                            <div class="row">
                                <div class="col-12">
                                    <p class="token-table-header">
                                        Public Listing
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p class="table-label">Token Listing Price</p>
                                </div>
                                <div class="col-8">
                                    <p class="uniswap-listing-rate-value">0.000001854386 ETH = 1
                                        token</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p class="table-label">Token Listing DEX</p>
                                </div>
                                <div class="col-8">
                                    <p>Uniswap</p>
                                </div>
                            </div>
                            <!--<div class="row">
                                <div class="col-4">
                                    <p class="table-label">Listing At</p>
                                </div>
                                <div class="col-8">
                                    <p class="uniswap-listing-time-value"></p>
                                </div>
                            </div>-->
                        </div>

                        <div class="tokeninfo-wrap">
                            <div class="row">
                                <div class="col-12">
                                    <p class="token-table-header">
                                        Liquidity
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p class="table-label">% Raised to Uniswap LP</p>
                                </div>
                                <div class="col-8">
                                    <p class="percentage-allocated-value">30%</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p class="table-label">Liquidity Locked Duration (Days)</p>
                                </div>
                                <div class="col-8">
                                    <p class="lock-duration-value">42000</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p class="table-label">Maximum Liquidity Allocation</p>
                                </div>
                                <div class="col-8">
                                    <p class="max-liquidity-allocation-value">126 ETH</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p class="table-label">Liquidity Lock Address</p>
                                </div>
                                <div class="col-8">
                                    <p class="liquidity-lock-address-value">
                                        <a href="https://etherscan.io/address/0x3d6B068440036c6b12F770BEf1C5Cf066974eE99" target="_blank">0x3d6B068440036c6b12F770BEf1C5Cf066974eE99</a>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p class="table-label">Total Raised Till Now</p>
                                </div>
                                <div class="col-8">
                                    <p class="total-invested">0.00 ETH</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p class="table-label">Current Liquidity Allocation</p>
                                </div>
                                <div class="col-8">
                                    <p class="current-liquidity-allocation">0.00 ETH</p>
                                </div>
                            </div>
                        </div>
                        <p class="copy-txt">
                            Instructions on how to participate in the IDO are <a
                                href="instructions-on-how-to-buy-tokens.pdf" target="_blank">here</a>.<br /><br />
                        </p>
                        <div class="token-action-wrap">
                            <div class="row token-action-row">
                                <div class="col-md-5 token-action-left">
                                    <div class="token-conv-price font-pixel">Price: <span
                                            class="ido-token-price-value">0.000001754386 ETH = 1
                                            Token</span>
                                    </div>
                                    <div class="min-eth copy-1">Minimum: <span class="min-inv-per-value">0.1 ETH</span>
                                        | Maximum: <span class="max-inv-per-value">3
                                            ETH</span></div>
                                    <div class="available-balance copy-1">Your Investment Cap Left:
                                        <span class="currently-available-balance">0 ETH</span>
                                    </div>

                                    <div class="input-wrap">
                                        <input type="text" class="form-control input-float" id="buy-token-input"
                                            name="buy-token-input" placeholder="0.0">
                                        <div class="input-error-wrap">
                                            <p class="input-error">Please enter price</p>
                                        </div>
                                    </div>
                                    <div class="calc-tokens copy-1">You will receive: <span
                                            class="calculated-token-value">0 tokens</span></div>
                                    <div class="doge-btn buy-token-btn disabled">
                                        Buy Tokens
                                    </div>
                                    <div class="buy-btn-status"></div>
                                </div>
                                <div class="col-md-7 token-action-right">
                                    <div class="tokeninfo-wrap small">
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="token-table-header">
                                                    Your Investment
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <p class="table-label">Your Tokens</p>
                                            </div>
                                            <div class="col-8">
                                                <p class="text-end your-tokens">0.00</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <p class="table-label">Your ETH Investment</p>
                                            </div>
                                            <div class="col-8">
                                                <p class="text-end your-eth-investment">0.00</p>
                                            </div>
                                        </div>
                                        <div class="row no-border">
                                            <div class="col-12">
                                                <p class="table-closing-time">Closing Time: <span
                                                        class="ido-close-date-value"></span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-md-6">
                                            <div class="doge-btn claim-token-btn disabled">
                                                Claim Tokens
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="doge-btn refund-token-btn">
                                                Get Refunds
                                            </div>
                                            <div class="doge-btn collect-fund-btn">
                                                Collect Raised funds
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>
                            <div class="no-connect-overlay">
                                <p>Please connect to your wallet to Buy, Claim or Get Refund Tokens</p>
                            </div>
                        </div>
                        <div class="token-cancel-wrap">
                            <div class="row token-cancel-row">
                                <div class="col-12 token-action-center">
                                    <h4 class="mb-2">Cancel the IDO</h5>
                                        <p class="mb-4">Cancelling the presale is irreversible <br />(Investors can get
                                            a refund and Tokens will be transferred to the presale creator)</p>
                                        <div class="doge-btn" data-bs-toggle="modal" data-bs-target="#cancel-ido-modal">
                                            Cancel the IDO
                                        </div>
                                </div>
                            </div>
                            <div class="no-connect-overlay">
                                <p>Please connect to your wallet to Lock and Launch the IDO</p>
                            </div>
                        </div>
                        <div class="token-launch-wrap">
                            <div class="row token-launch-row">
                                <div class="col-12 token-action-center">
                                    <h4 class="mb-2">Ready to Launch!</h5>
                                        <p class="mb-4">The IDO has successfully reached launch status. Any investor or
                                            the IDO creator can lock and launch the IDO, creating the Uniswap listing
                                            for public trading on the automated token exchange.</p>
                                        <div class="doge-btn launch-token-btn">
                                            Lock and Launch
                                        </div>
                                </div>
                            </div>
                            <div class="no-connect-overlay">
                                <p>Please connect to your wallet to Lock and Launch the IDO</p>
                            </div>
                        </div>
                        <div class="token-for-mobile">
                            <div class="row token-mobile-row">
                                <div class="col-12 token-action-center">
                                    <h4 class="mb-2 text-center">Investing in IDO is currently only available on desktop
                                        browser
                                        </h5>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>
    <!-- Cancel confirm Modal Box-->
    <div class="modal fade" id="cancel-ido-modal" tabindex="-1" aria-labelledby="cancel-ido-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Caution</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="copy-txt">Are you sure? Cancelling the presale is irreversible.</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="doge-btn back-btn" data-bs-dismiss="modal">Go Back</button>
                    <button type="button" class="doge-btn btn-dark cancel-token-btn">Confirm Cancellation</button>

                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/wallet'); %>
    <%- include('../partials/footertext'); %>
    <%- include('../partials/ido'); %>
    <%- include('../partials/footer'); %>
    <script type="module" src="js/ido-detail.js"></script>
</body>

</html>